@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PTRootUIWebBold';
  src: url("../../fonts/PT Root UI_Bold/PT Root UI_Bold.eot");
  src: url("../../fonts/PT Root UI_Bold/PT Root UI_Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT Root UI_Bold/PT Root UI_Bold.woff") format("woff"), url("../../fonts/PT Root UI_Bold/PT Root UI_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebLight';
  src: url("../../fonts/PT Root UI_Light/PT Root UI_Light.eot");
  src: url("../../fonts/PT Root UI_Light/PT Root UI_Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT Root UI_Light/PT Root UI_Light.woff2") format("woff2"), url("../../fonts/PT Root UI_Light/PT Root UI_Light.woff") format("woff"), url("../../fonts/PT Root UI_Light/PT Root UI_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebMedium';
  src: url("../../fonts/PT Root UI_Medium/PT Root UI_Medium.eot");
  src: url("../../fonts/PT Root UI_Medium/PT Root UI_Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT Root UI_Medium/PT Root UI_Medium.woff2") format("woff2"), url("../../fonts/PT Root UI_Medium/PT Root UI_Medium.woff") format("woff"), url("../../fonts/PT Root UI_Medium/PT Root UI_Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebRegular';
  src: url("../../fonts/PT Root UI_Regular/PT Root UI_Regular.eot");
  src: url("../../fonts/PT Root UI_Regular/PT Root UI_Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/PT Root UI_Regular/PT Root UI_Regular.woff") format("woff"), url("../../fonts/PT Root UI_Regular/PT Root UI_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icoMoon/icomoon.eot?kc3lus");
  src: url("../../fonts/icoMoon/icomoon.eot?kc3lus#iefix") format("embedded-opentype"), url("../../fonts/icoMoon/icomoon.ttf?kc3lus") format("truetype"), url("../../fonts/icoMoon/icomoon.woff?kc3lus") format("woff"), url("../../fonts/icoMoon/icomoon.svg?kc3lus#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

html, body {
  font-family: 'PTRootUIWebLight', sans-serif;
  background-color: #f5f8fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  font-family: 'PTRootUIWebRegular', sans-serif;
}

nav {
  font-family: 'PTRootUIWebBold', sans-serif;
}

/**
 * Basic typography style for copy text
 */
.header {
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
}

.header-wrap {
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-phone__number {
  color: #343e5c;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-phone__icon {
  margin-right: 10px;
}

.check-order-status {
  position: relative;
}

.check-order-status__text {
  color: #343e5c;
  font-size: 14px;
  margin-right: 16px;
}

.check-order-status::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  right: -7px;
  border: 2px solid #dadee2;
  border-radius: 50%;
}

.check-order-status:hover > .check-order-status__text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f54732;
}

.check-order-status:hover > .check-order-status__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #f54732;
}

.check-order-status:active > .check-order-status__text {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #db2d25;
}

.check-order-status:active > .check-order-status__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #db2d25;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-cart__text {
  margin: auto 8px;
  color: #343e5c;
  font-size: 14px;
}

.shopping-cart:hover > .shopping-cart__text {
  color: #f54732;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shopping-cart__number-goods {
  font-family: 'PTRootUIWebBold', sans-serif;
  font-size: 11px;
  color: #142558;
  margin: auto 8px;
  position: relative;
  z-index: 1;
}

.shopping-cart__number-goods::before {
  content: "";
  height: 24px;
  width: 24px;
  top: -6px;
  right: -9px;
  position: absolute;
  background-color: #f6f6fa;
  border-radius: 50%;
  z-index: -1;
}

.login-button {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid #e3e8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-button__icon {
  margin-right: 7px;
}

.login-button__text {
  color: #343e5c;
  font-size: 14px;
}

.login-button:hover {
  border-color: #f54732;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-button:hover > .login-button__text {
  color: #f54732;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-button:hover > .login-button__icon {
  fill: #f54732;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login-button:active {
  border-color: #db2d25;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-button:active > .login-button__text {
  color: #db2d25;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-button:active > .login-button__icon {
  fill: #db2d25;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #222328;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrap-nav-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  height: 96px;
  border-bottom: 1px solid #38393e;
}

.footer__nav-bar {
  width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 770px;
}

.footer__nav-link {
  color: #ffffff;
  font-family: 'PTRootUIWebBold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.footer__nav-link:hover {
  color: #f54732;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__wrap-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
  width: 1170px;
  height: 100px;
}

.copyright__text {
  color: #a1a8bd;
  font-size: 14px;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.support__wrap {
  margin-bottom: 6px;
}

.support__text {
  margin-left: 9px;
  color: #a1a8bd;
  font-size: 14px;
}

.support__tel {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #a1a8bd;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
}

.login {
  margin-right: 160px;
}

.login__button-text {
  color: #a1a8bd;
  font-size: 14px;
  margin-left: 12px;
}

.login__button-text:hover {
  color: #f54732;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.order-status {
  position: relative;
}

.order-status__link {
  color: #a1a8bd;
  font-size: 14px;
}

.order-status__link::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  right: -7px;
  border: 2px solid #dadee2;
  border-radius: 50%;
}

.order-status__link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f54732;
}

.order-status__link:hover > .order-status__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #f54732;
}

.order-status__icon {
  margin-left: 16px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 56px;
  background-color: #ffffff;
  border: 1px solid #f0f2f7;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
}

.nav__list {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 915px;
  height: 100%;
  border-right: 1px solid #f0f2f7;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__item--active::before {
  content: "";
  position: absolute;
  margin-top: 30px;
  width: 122px;
  height: 3px;
  background-color: #f54732;
}

.nav__link {
  color: #142558;
  font-size: 13px;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #f54732;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 56px;
  width: 368px;
  border-right: 1px solid #f0f2f7;
}

.search__input {
  width: 300px;
  height: 54px;
  border: none;
  padding-left: 21px;
  color: #142558;
  font-size: 16px;
}

.search__input:focus {
  outline: none;
}

.search__input:focus + .search__button {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #ea4735;
}

.search__input::-webkit-input-placeholder {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #a1a8bd;
  font-size: 16px;
}

.search__input:-ms-input-placeholder {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #a1a8bd;
  font-size: 16px;
}

.search__input::-ms-input-placeholder {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #a1a8bd;
  font-size: 16px;
}

.search__input::placeholder {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #a1a8bd;
  font-size: 16px;
}

.search__button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 100%;
  font-family: 'icomoon' !important;
  background-color: #fff;
  color: #142558;
}

.search__button:focus {
  outline: none;
}

.search__button:hover {
  color: #ea4735;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__button:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #f0f2f7;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__sort-section {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 26px 0 73px 0;
}

.main-content__next-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-wrap {
  width: 100%;
  height: 236px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo-page {
  width: 1400px;
  height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-page__text {
  margin-left: 115px;
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 42px;
}

.logo-page__img {
  margin-right: 120px;
}

.sort-section {
  width: 1169px;
  height: 92px;
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-section__wrap-main-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 31px;
}

.sort-section__wrap-name-sort {
  margin-right: 63px;
}

.input-price {
  width: 64px;
  height: 6px;
  border-radius: 3px;
  border: 2px solid #e3e8f0;
  background-color: #ffffff;
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 14px;
  padding: 13px 10px 11px 10px;
}

.input-price:focus {
  outline: none;
}

.section-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-price__text {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 14px;
  margin: 39px 22px 40px 33px;
}

.section-price__wrap {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.section-price__min-price {
  margin-right: 28px;
}

.section-price__slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 11px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #a1a8bd;
}

.section-price__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #a1a8bd;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.section-price__slider::-ms-track {
  appearance: none;
  margin-top: 11px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #a1a8bd;
}

.section-price__slider::-ms-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #a1a8bd;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.section-price__slider::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  margin-top: 11px;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #a1a8bd;
}

.section-price__slider::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #a1a8bd;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.section-price__slider:focus {
  outline: none;
}

.section-price-wrap {
  position: relative;
}

.section-price-wrap__input-wrap::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #142558;
  left: 95px;
  top: 15px;
}

.name-sort {
  position: relative;
}

.name-sort__text {
  color: #142558;
  font-size: 16px;
}

.name-sort__select {
  margin-left: 11px;
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  z-index: -1;
  width: 150px;
  cursor: pointer;
}

.name-sort__select:focus {
  outline: none;
}

.name-sort__icon {
  position: absolute;
  border: 8px solid transparent;
  border-bottom: 0;
  right: -10px;
  top: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.number-of-goods {
  position: relative;
}

.number-of-goods__text {
  color: #142558;
  font-size: 16px;
}

.number-of-goods__select {
  margin-left: 11px;
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  z-index: -1;
  width: 35px;
  cursor: pointer;
}

.number-of-goods__select:focus {
  outline: none;
}

.number-of-goods__icon {
  position: absolute;
  border: 8px solid transparent;
  border-bottom: 0;
  right: -8px;
  top: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.goods {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods__card {
  width: 270px;
  height: 384px;
  border-radius: 5px;
  background-color: #ffffff;
}

.goods__card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 9px 21px rgba(168, 172, 185, 0.44);
          box-shadow: 0 9px 21px rgba(168, 172, 185, 0.44);
}

.goods__link {
  height: 240px;
}

.goods__discount-wrap {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 32px 15px;
}

.card__name {
  color: #142558;
  font-size: 16px;
  font-family: 'PTRootUIWebBold', sans-serif;
}

.card__price {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #143458;
  font-size: 24px;
  margin-top: 13px;
}

.card__in-cart {
  width: 99px;
  height: 36px;
  border-radius: 3px;
  border: 2px solid #e3e8f0;
  background-color: #fff;
  margin-top: 24px;
  color: #343e5c;
  font-family: 'PTRootUIWebBold', sans-serif;
  font-size: 14px;
}

.card__in-cart:hover {
  border-color: #f24841;
  color: #f24841;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.card__in-cart:active {
  border-color: #db2d25;
  color: #db2d25;
}

.card__in-cart:focus {
  outline: none;
}

.discount {
  width: 571px;
  height: 383px;
  background-image: url(../../img/chairСatalog/discount.png);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 125px -2px 300px 86px #c9d6e0;
          box-shadow: inset 125px -2px 300px 86px #c9d6e0;
}

.discount__text {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 36px;
  margin-bottom: 31px;
  margin-left: 40px;
}

.discount__see-all {
  width: 121px;
  height: 36px;
  border-radius: 5px;
  border: 2px solid rgba(20, 52, 88, 0.16);
  background-color: rgba(255, 255, 255, 0.16);
  margin-left: 40px;
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #143458;
  font-size: 14px;
}

.discount__see-all:hover {
  border-color: #f2474170;
  color: #f24741d7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.discount__see-all:active {
  border-color: #db2d2570;
  color: #db2e25d7;
}

.discount__see-all:focus {
  outline: none;
}

.next-pages {
  width: 1170px;
  height: 90px;
  background-color: #ffffff;
}

.next-pages__page-number {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.next-pages__page-number:hover {
  color: #f24741;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.next-pages__page-number {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #3a405b;
  font-size: 14px;
}

.next-pages--active {
  color: #f54732;
  border-radius: 50%;
  -webkit-box-shadow: 0 9px 18px rgba(168, 172, 185, 0.53);
          box-shadow: 0 9px 18px rgba(168, 172, 185, 0.53);
  background-color: #ffffff;
}

.next-pages__back {
  margin-left: 15px;
  margin-right: 20px;
}

.next-pages__forward {
  margin-left: 20px;
  margin-right: 15px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  border-radius: 50%;
  height: 48px;
  border: 2px solid #e3e8f0;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:hover > svg > use {
  fill: #f24741;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow__modif {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-content__path {
  margin-top: 27px;
}

.main-content__about-card {
  margin: 26px  0 118px;
  padding: 32px 0 96px;
}

.path {
  width: 1200px;
}

.path__main-page {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #828aa2;
  font-size: 14px;
}

.path__main-page:hover {
  color: #e93d35;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.path__nav-item {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #828aa2;
  font-size: 14px;
}

.path__nav-item:hover {
  color: #e93d35;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.path__current-page {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 14px;
}

.path__icon {
  margin: 0 6px -2px 6px;
}

.about-card {
  width: 1200px;
  border-radius: 5px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-card__slider {
  margin: 5px 32px 0 53px;
}

.about-card__card {
  margin-left: 65px;
  margin-right: 100px;
}

.slider {
  min-width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__icon-arrow {
  margin-bottom: 24px;
}

.slider__img-wrap {
  margin-top: -4px;
  margin-bottom: 13px;
}

.img-wrap {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  border: 2px solid #e3e8f000;
}

.img-wrap--active, .img-wrap:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: 2px solid #e3e8f0;
  cursor: pointer;
}

.img-item {
  width: 100%;
  height: 100%;
}

.icon-arrow--up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon-arrow:hover {
  cursor: pointer;
}

.icon-arrow:hover > use {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  fill: #e93d35;
}

.card-item {
  width: 100%;
  height: 100%;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__buying {
  margin-left: 129px;
}

.buying__product-name {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 36px;
  margin-top: 23px;
}

.buying__product-id {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #a1a8bd;
  font-size: 16px;
  margin-top: 14px;
}

.buying__product-status {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #142558;
  font-size: 16px;
  margin-top: 15px;
  padding-left: 17px;
  position: relative;
}

.buying__product-status:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #44b759;
  top: 5px;
  left: 2px;
}

.buying__form-buy {
  margin-top: 35px;
  padding: 28px;
  padding-top: 0px;
}

.form-buy {
  border-radius: 10px;
  background-color: #f5f8fa;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-buy__price {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 30px;
  margin-top: 38px;
}

.form-buy__amount {
  width: 42px;
  height: 32px;
  border-radius: 3px;
  border: 2px solid #e3e8f0;
  background-color: #ffffff;
  text-align: center;
  padding: 4px;
  color: #142558;
  font-size: 16px;
}

.form-buy__in-cart {
  width: 315px;
  height: 51px;
  border-radius: 5px;
  background-color: #f24841;
  border: none;
  margin-top: 22px;
  color: #ffffff;
  font-family: 'PTRootUIWebBold', sans-serif;
  font-size: 18px;
}

.form-buy__in-cart:focus {
  outline: none;
}

.form-buy__in-cart:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #e93d35;
}

.form-buy__in-cart:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #db2d25;
}

.form-buy__delivery-inf {
  margin-bottom: 4px;
  margin-left: 14px;
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #848ca4;
  font-size: 16px;
  position: relative;
}

.form-buy__delivery-inf:before {
  content: "";
  width: 37px;
  height: 37px;
  background-color: #e3e8f0;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: -50px;
  z-index: 0;
}

.form-buy__delivery-icon {
  margin-left: 9px;
  z-index: 1;
}

.amount-wrap {
  display: relative;
  margin-left: 92px;
  margin-top: 27px;
}

.amount-wrap:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #f24841;
  margin-top: 20px;
  margin-left: -40px;
  cursor: pointer;
}

.amount-wrap:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #f24841;
  margin-top: -23px;
  margin-left: 74px;
  cursor: pointer;
}

.amount-wrap__plus:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 18px;
  background-color: #f24841;
  margin-top: 13px;
  margin-left: 82px;
  cursor: pointer;
}

.description__header {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 17px;
  margin-bottom: 16px;
  margin-top: 9px;
}

.description__header--second {
  margin-top: 47px;
}

.description__text {
  font-family: 'PTRootUIWebLight', sans-serif;
  color: #828aa2;
  font-size: 16px;
  line-height: 24px;
}

.main-content__goods-in-the-shop-cart {
  margin-top: 58px;
}

.main-content__checkout {
  margin: 37px 0 88px;
}

.amount-wrap--shopping-cart {
  margin: 0;
}

.goods-in-the-shop-cart {
  width: 869px;
  border-radius: 5px;
  background-color: #ffffff;
  padding-left: 46px;
  padding-right: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods-in-the-shop-cart__header {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 36px;
  margin: 42px 0 31px;
}

.goods-in-the-shop-cart__items {
  padding: 7px 0 7px;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #f0f2f7;
}

.items__inf-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__price-amount-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items__name {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 16px;
}

.items__id {
  font-family: 'PTRootUIWebLight', sans-serif;
  margin-top: 8px;
  color: #a1a8bd;
  font-size: 14px;
}

.items__close {
  position: relative;
  width: 14px;
  height: 14px;
}

.items__close:hover {
  cursor: pointer;
}

.items__close:before {
  right: 6px;
  position: absolute;
  content: "";
  height: 14px;
  width: 2px;
  background-color: #a1a8bd;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.items__close:after {
  right: 6px;
  position: absolute;
  content: "";
  height: 14px;
  width: 2px;
  background-color: #a1a8bd;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.items__amount-price {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 18px;
  margin: 0px 29px 0px 67px;
}

.items__amount {
  width: 41px;
  height: 30px;
  border-radius: 3px;
  border: 2px solid #e3e8f0;
  background-color: #ffffff;
  padding: 5px;
  font-family: 'PTRootUIWebMedium', sans-serif;
  text-align: center;
  color: #142558;
  font-size: 16px;
}

.items__price {
  font-family: 'PTRootUIWebBold', sans-serif;
  color: #142558;
  font-size: 18px;
  margin-right: 74px;
}

.inf-wrap__about {
  margin-left: 19px;
}

.order-price {
  width: 869px;
  height: 93px;
  border-radius: 0 0 5px 5px;
  background-color: #e3eaef;
}

.checkout {
  width: 869px;
  height: 872px;
  border-radius: 5px;
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */