.nav-bar{
    display: flex;
    justify-content: space-around;
    height: 56px;
    
    background-color: #ffffff;
    border: 1px solid #f0f2f7;
   
}

.nav-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
 
}

.nav{
    &__list{
        margin-left: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 915px;
        height: 100%;
        border-right: 1px solid #f0f2f7;    
    }
    &__item{
        display: flex;
        justify-content: space-around;
        &--active{
            &::before{
                content : "";
                position: absolute;
                margin-top: 30px;
                width: 122px;
                height: 3px;
                background-color: #f54732;
            }
        }
    }
    &__link{
        color: $mainFontColor;
        font-size: 13px;
        text-transform: uppercase;
        &:hover{
            color: #f54732;
            transition: 0.3s;
        }
    }
}

.search{
    display: flex;
    align-items: center;
    position: relative;
    
    height: 56px;
    width: 368px;
    border-right: 1px solid #f0f2f7;
    
    &__input{
    
        width: 300px;
        height: 54px;
        border: none;
        padding-left: 21px;
    
        color: #142558;
        font-size: 16px;
       
        &:focus{
            outline:none;
    
            &+.search__button{
                transition: 0.1s;
                color: #ea4735;
            }
        }
       
        &::placeholder{
            @include light;
            color: #a1a8bd;
            font-size: 16px;
        }
    }
    &__button{
        cursor: pointer;
    
        width: 40px;
        height: 40px;
        position: absolute;
        right: 10px;
    
        border: none;
        border-radius: 100%;
    
        @include icoMoon;
        background-color: #fff;
        color: #142558;
    
        &:focus{
            outline: none;
        }
    
        &:hover{
            color: #ea4735;
            transition: 0.2s;
        }
    
        &:active{
            transition: 0.1s;
            background-color: #f0f2f7;
        }
    }

}