.main-content{

    &__path{
        margin-top: 27px;
    }
    &__about-card{
        margin: 26px  0 118px ;
        padding: 32px 0 96px ;
    }
}

.path{
    width: 1200px;
    &__main-page{
        @include light;
        color: #828aa2;
        font-size: 14px;
        &:hover{
            color: #e93d35;
            transition: 0.3s;
        }
    }
    
    &__nav-item{
        @include light;
        color: #828aa2;
        font-size: 14px;
        &:hover{
            color: #e93d35;
            transition: 0.3s;
        }
    }

    &__current-page{
        @include bold;
        color: #142558;
        font-size: 14px;
    }

    &__icon{
        margin: 0 6px -2px 6px;
    }
}

.about-card{
    width: 1200px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    &__slider{
        margin:5px 32px 0 53px;
    }
    &__card{
        margin-left: 65px;
        margin-right: 100px;
    }
}

.slider{
    min-width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon-arrow{
        margin-bottom: 24px;
    }
    &__img-wrap{
        margin-top: -4px;
        margin-bottom: 13px;
    }

}
.img-wrap{
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border: 2px solid #e3e8f000;
    &--active,&:hover{
        transition: 0.1s;
        border: 2px solid #e3e8f0;
        cursor: pointer;
    }
    
}
.img-item{
    width: 100%;
    height: 100%;
}
.icon-arrow{
    &--up{
        transform: rotate(180deg);
    }
    &:hover{
        cursor: pointer;
        &>use{
          transition: 0.3s;
          fill:#e93d35;  
        }
        
    }
}


.card-item{
    width: 100%;
    height: 100%;
}

.information{
    display: flex;
    justify-content: space-between;
    &__buying{
        margin-left: 129px;
    }
}
.buying{
    &__product-name{
        @include bold;       
        color: #142558;
        font-size: 36px;
        margin-top: 23px;
    }
    &__product-id{
        @include light;
        color: #a1a8bd;
        font-size: 16px;
        margin-top: 14px;
    }
    &__product-status{
        @include light;
        color: #142558;
        font-size: 16px;
        margin-top: 15px;
        padding-left: 17px;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: #44b759;
            top: 5px;
            left: 2px;
        }
    }
    
    &__form-buy{
        margin-top: 35px;
        padding: 28px;
        padding-top: 0px;
    }
}

.form-buy{
    border-radius: 10px;
    background-color: #f5f8fa;
    height: 230px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    &__price{
        @include bold;
        color: #142558;
        font-size: 30px;
        margin-top: 38px;
    }
    &__amount{
        width: 42px;
        height: 32px;
        border-radius: 3px;
        border: 2px solid #e3e8f0;
        background-color: #ffffff;

        text-align: center;
        padding: 4px;
        color: #142558;
        font-size: 16px;

    }
    &__in-cart{
        width: 315px;
        height: 51px;
        border-radius: 5px;
        background-color: #f24841;
        border: none;
        margin-top: 22px;

        color: #ffffff;
        @include bold;
        font-size: 18px;
        
        &:focus{
            outline: none;
        }

        &:hover{
            transition: 0.1s;
            background-color: #e93d35; 
        }

        &:active{
            transition: 0.1s;
            background-color: #db2d25;
        }
    }

    &__delivery-inf{
        margin-bottom: 4px;
        margin-left: 14px;
        @include light;
        color: #848ca4;
        font-size: 16px;

        position: relative;
        &:before{
            content: "";
            width: 37px;
            height: 37px;
            background-color: #e3e8f0;
            border-radius: 100%;
            position: absolute;
            top: -10px;
            left: -50px;
            z-index: 0;
        }
    }
    &__delivery-icon{
        margin-left: 9px;
        z-index: 1;
    }
}
.amount-wrap{
    display: relative;
    margin-left: 92px;
    margin-top: 27px;
    &:before{
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: #f24841;
        margin-top: 20px;
        margin-left: -40px;
        cursor: pointer;
        
    }
    &:after{
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        background-color: #f24841;
        margin-top: -23px;
        margin-left: 74px;
        cursor: pointer;
    }
    &__plus{
        &:after{
            content: "";
            position: absolute;
            width: 2px;
            height: 18px;
            background-color: #f24841;
            margin-top: 13px;
            margin-left: 82px;
            cursor: pointer;
        }
    }
}

.description{
    &__header{
        @include bold;
        color: #142558;
        font-size: 17px;
        margin-bottom: 16px;
        margin-top: 9px;
        &--second{
            margin-top: 47px;
        }
    }
    &__text{
        @include light;
        color: #828aa2;
        font-size: 16px;
        line-height: 24px;
    }
}

