.main-content{
    &__goods-in-the-shop-cart{
        margin-top: 58px;
        padding: 0 41px 0 46px;
    }
    &__order-price{
        padding: 0 41px 0 46px;
    }
    &__checkout{
        margin: 37px 0 88px;
        padding: 45px 41px 57px 46px;
    }

}
.amount-wrap{
    &--shopping-cart{
        margin: 0;
    }
}

.goods-in-the-shop-cart{
    width: 869px; 
    border-radius: 5px;
    background-color: #ffffff;
   
    display: flex;
    flex-direction: column;
    &__header{
        @include bold; 
        color: #142558;
        font-size: 36px;
        margin: 42px 0 31px;
    }
    &__items{
        padding: 7px 0 7px;
    }
}

.items{
    display: flex;
    justify-content: space-between;
    
    border-top: 1px solid #f0f2f7;
    &__inf-wrap{
        display: flex;
        align-items: center;
    }
    &__price-amount-wrap{
        display: flex;
        align-items: center;
    }
    &__name{
        @include bold;
        color: #142558;
        font-size: 16px;
    }
    &__id{
        @include light;
        margin-top: 8px;
        color: #a1a8bd;
        font-size: 14px;
    }
    &__close{

        position: relative;
        width: 14px;
        height: 14px;
       
        &:hover{
            cursor: pointer;

        }

        &:before{
            right: 6px;
            position: absolute;
            content: "";
            height: 14px;
            width: 2px;
            background-color: #a1a8bd;
            transform: rotate(45deg);
        }

        &:after{
            right: 6px;
            position: absolute;
            content: "";
            height: 14px;
            width: 2px;
            background-color: #a1a8bd;
            transform: rotate(-45deg);
        }
     
    }
    
    &__amount-price{
        @include bold;
        color: #142558;
        font-size: 18px;
        margin: 0px 29px 0px 67px;
    }
    &__amount{
        width: 41px;
        height: 30px;
        border-radius: 3px;
        border: 2px solid #e3e8f0;
        background-color: #ffffff;
        padding: 5px;

        @include medium;
        text-align: center;
        color: #142558;
        font-size: 16px;
    }
    &__price{
        @include bold;
        color: #142558;
        font-size: 18px;
        margin-right: 74px;
    }
}

.inf-wrap{
    &__about{
        margin-left: 19px;
    }
}
.order-price{
    width: 869px;
    height: 93px;   //===================
    border-radius: 0 0 5px 5px;
    background-color: #e3eaef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .total-amount{
        @include medium;
        color: #79848f;
        font-size: 14px;
    }
    .total-price{
        @include bold;
        color: #142558;
        font-size: 24px;
    }
.checkout{
    width: 869px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__header{
        @include bold;
        color: #142558;
        font-size: 36px;
        margin-bottom: 30px;
    }
    &__address-text{
        @include bold;
        color: #142558;
        font-size: 20px;
        margin-bottom: 22px;
    }
    &__recipient{
        @include bold;
        color: #142558;
        font-size: 20px;
        margin: 39px 0 24px 0;
    }
    &__recipient-checkout{
        width: 449px;
        height: 56px;
        border-radius: 5px;
        background-color: #f24841;
        border: none;
        
        color: #ffffff;
        font-size: 16px;
        @include bold;

        &:hover{
            transition: 0.2s;
            background-color: #e93d35;
        }

        &:focus{
            outline: none;
        }

        &:active{
            background-color:#db2d25;
        }
    }
}

.form-input{
    width: 431px;
    height: 42px;
    border-radius: 3px;
    border: 2px solid #e3e8f0;
    background-color: #ffffff;
    padding-left: 16px;
    color: #142558;
    font-size: 15px;
    margin-bottom: 24px;
    margin-right: 19px;
    &::placeholder{
        color: #a1a8bd;
        font-size: 14px;
    }
    &:hover{
        transition: 0.2s;
        border-color: #a1a8bd;
    }
    &:focus{
        border-color: #315ad5;
        outline: none;
        &::placeholder{
            transition: 0.2s;
            font-size: 11px;
            transform: translateY(-15px);
        }
    }
    &--small{
        width: 80px;
    }
   
}
.form-textarea{
    width: 417px;
    height: 95px;
    border-radius: 3px;
    border: 2px solid #e3e8f0;
    background-color: #ffffff;
    padding: 16px;
    color: #142558;
    font-size: 15px;
    resize: none;
    &::placeholder{
        color: #a1a8bd;
        font-size: 14px;
    }
    &:hover{
        transition: 0.2s;
        border-color: #a1a8bd;
    }
    &:focus{
        border-color: #315ad5;
        outline: none;
        &::placeholder{
            transition: 0.2s;
            font-size: 11px;
            transform: translateY(-15px);
        }
    }
}
